WebRotas*.html
WebRotas*.kml
WebRotasServer.log*
BR_Municipios*.*
filtro_*

resources.zip
osmr_webrota.tar
osmosis_webrota.tar

*.pdf
*.pbf
exclusion_*
qg_20*
AU_*
tmpStatic*
__pycache__
ngrok.exe
server.json
*.poly
webRotas.tgz