/Servers/BR_Municipios_2022/BR_Municipios_2022.shx
/Servers/BR_Municipios_2022/BR_Municipios_2022.shp
/Servers/BR_Municipios_2022/BR_Municipios_2022.cpg
/Servers/BR_Municipios_2022/BR_Municipios_2022.dbf
/Servers/BR_Municipios_2022/BR_Municipios_2022.prj
/Servers/FavelasComunidades/qg_2022_670_fcu_agreg.zip
/Servers/OSMR/data/brazil/brazil-latest.osm.pbf
/Servers/OSMR/data/osrm_webrota.tar
/Servers/OSMR/data/TempData/filtro_Fabio/
/Servers/OSMR/data/TempData/filtro_Andre/
/Servers/OSMR/data/TempData/filtro_Alessandro/
/Servers/OSMR/data/TempData/filtro_Rodrigo/
/Servers/Osmosis/osmosis_webrota.tar
/Servers/Osmosis/brazil/brazil-latest.osm.pbf
/Servers/Osmosis/TempData/exclusion_Alessandro.poly
/Servers/Osmosis/TempData/exclusion_Fabio.poly
/Servers/Osmosis/TempData/exclusion_Andre.poly
/Servers/Osmosis/TempData/exclusion_Rodrigo.poly
/Servers/Osmosis/TempData/exclusion_Alessandro.poly.old
/Servers/backend/webdir/logs/WebRotasServer.log.Alessandro.OSMR
/Servers/backend/webdir/logs/WebRotasServer.log.Andre
/Servers/backend/webdir/logs/WebRotasServer.log.Andre.OSMR
/Servers/backend/webdir/logs/WebRotasServer.log.Fabio.OSMR
/Servers/backend/webdir/logs/WebRotasServer.log.Rodrigo.OSMR
/Servers/backend/webdir/logs/WebRotasServer.log.None
/Servers/backend/webdir/logs/WebRotasServer.log.Rodrigo
/Servers/backend/webdir/logs/WebRotasServer.log.Alessandro
/Servers/backend/webdir/logs/WebRotasServer.log.Fabio
/Servers/backend/webdir/templates/MapaPontosVisita2024-12-13_13-41-42.html
/Servers/backend/webdir/templates/MapaPontosVisita2024-12-13_16-14-07.html
/Servers/backend/webdir/templates/MapaPontosVisita2024-12-13_08-11-03.html
/Servers/backend/webdir/templates/MapaPontosVisita2024-12-13_17-34-42.html
/Servers/backend/webdir/templates/MapaCompAbrangencia2024-12-13_08-16-36.html
/Servers/backend/webdir/templates/MapaDriveTest2024-12-13_08-06-16.html
/Servers/backend/webdir/templates/MapaPontosVisita2024-12-13_16-15-38.html
/Servers/backend/webdir/ngrok.exe
Servers/backend/webdir/__pycache__/WebRota.cpython-311.pyc
Servers/backend/webdir/__pycache__/GeraMapa.cpython-311.pyc
Servers/backend/webdir/static/MapaDriveTest2024-12-13_08-06-16.html
Servers/backend/webdir/templates/MapaCompAbrangencia2024-12-14_13-01-58.html
Servers/backend/webdir/templates/MapaDriveTest2024-12-14_12-51-47.html
Servers/backend/webdir/templates/MapaDriveTest2024-12-14_13-13-37.html
Servers/backend/webdir/templates/MapaPontosVisita2024-12-14_12-55-55.html
Servers/Osmosis/TempData/exclusion_Andre.poly.old
/Servers/OpenElevation/data/etopo2.i2
/Servers/OSMR/data/TempData/
/Servers/OSMR/data/brazil/
/Servers/OpenElevation/data/
/Servers/Osmosis/brazil/
/Servers/Osmosis/TempData/
/Servers/Comunidades/
osmr_webrota.tar
BR_Municipios_2023.zip
Servers/backend/webdir/__pycache__
Servers/backend/webdir/static/tmpStaticResources.js
Servers/backend/webdir/templates/MapaPontosVisita*
