WebRotas*.html
WebRotas*.kml
WebRotasServer.log*
BR_Municipios*.*
filtro_*
osmr_webrota.tar
osmosis_webrota.tar
*.pbf
exclusion_*
qg_20*
AU_*
tmpStatic*
__pycache__
ngrok.exe
server.json
src/resources/Osmosis/TempData/*.poly
/webRotas.tgz
/src/resources/Estados/BR_UF_2024.prj
/src/resources/Estados/BR_UF_2024.dbf
/src/resources/Estados/BR_UF_2024.cpg
/src/resources/Estados/BR_UF_2024.shp
/src/resources/Estados/BR_UF_2024.shx
