# Server Configuration
WEBROTAS_PORT=5002
OSRM_PORT=5000
OSRM_DATA=/media/ronaldo/Homelab/webrotas


# Environment type (development or production)
WEBROTAS_ENVIRONMENT=development

# Custom hostnames (optional - defaults to localhost/container names based on environment)
OSRM_HOSTNAME=localhost
WEBROTAS_HOSTNAME=localhost
OSRM_REMOTE_URL=osrm.ronaldo.tech
