
@font-face {
    font-family: 'ArialRounded';
    src: url("VarelaRound-Regular.ttf") format("opentype");    
} 

.containerTecHub {
  align-items: center;
  justify-content: center;
  /* height: 100vh;     */
  min-height: 100%;
  background-color: #f2f2f2;

}

.top-div {
    width: 100%;
    height: 250px;
    background-image: url('fundodiv1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: static;
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center; /* horizontally center the content */
    align-items: center; /* vertically center the content */
    font: 100% 'ArialRounded', sans-serif;
    font-weight: bold;
    font-size: 500%;
}

@media (orientation: portrait) {
  /* estilos para orientação retrato */
.top-div {
  height: 350px;
}

}

@media (orientation: landscape) {
.bottom-div { 
  background-color: #fff;
  text-align: justify;
  padding: 10px;
  margin: 5px;
  position: static;
  width: 49.00%;
  height: 700px; /* height: 650px; */
  vertical-align: top;
  display: inline-block;
}
}

@media (orientation: portrait) {
  /* estilos para orientação retrato (celular) */
  .bottom-div { 
    background-color: #fff;
    text-align: justify;
    padding: 10px;
    height: auto;
    margin: 20px;
    position: static;
  }
}


.bottom-div_detalhe { 
  background-color: #fff;
  text-align: justify;
  padding: 10px;
  margin: 20px;
  position: static;
}


h1 {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 25px;
    color: #333;
    align-items: center;
    word-wrap: break-word;
    font-family: 'ArialRounded';
    src: url("VarelaRound-Regular.ttf") format("opentype"); 
}

@media (orientation: portrait) {
    /* estilos para orientação retrato (celular) */
h1 {
    font-size: 46px;
    font-weight: 400; 
}

}

.tec--article__body {
  color: rgb(70, 70, 70);
  font-size: 14px;
  line-height: 22px;
  word-break: break-word; 
}


@media (orientation: portrait) {
    /* estilos para orientação retrato */
.tec--article__body {
  font-size: 41px;
  line-height: 50px;
  font-weight: 300;
}

}



.divpaginanacao { 
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  margin: 0px;
  position: static;
}

@media (orientation: portrait) {
    /* estilos para orientação retrato */
.divpaginanacao {
  font-size: 35px;

}

}

@media (orientation: landscape) {
  .ajustaTexto { 
    box-sizing: border-box; 
    max-height: 140px; 
    height:140px;
  }
  }
  
@media (orientation: portrait) {
    /* estilos para orientação retrato (celular) */
    .ajustaTexto { 
      
    }
  }


  @media (orientation: landscape) {
    .div_post { 
      background-color: #fff;
      text-align: justify;
      padding: 10px;
      margin: 5px;
    }
    }
    
    @media (orientation: portrait) {
      /* estilos para orientação retrato (celular) */
      .div_post { 
        background-color: #fff;
        text-align: justify;
        padding: 10px;
        margin: 5px;
      }
    }
    
