Flask==2.2.2
mysql-connector-python-rf==2.2.2
PyMySQL==1.0.3
beautifulsoup4==4.11.1
requests==2.28.1
translate==3.6.1
schedule==1.1.0
selenium==4.8.3
tweepy==4.12.1
geocoder==1.38.1
stem==1.8.1
openai==0.26.4
nltk==3.7
Flask-Compress==1.13
python-telegram-bot==20.3
asyncio==3.4.3
opencv-python==4.7.0.72
tiktok-downloader==0.3.5
Werkzeug==2.2.2
