@charset "UTF-8";
:root {
  --navbar-height: 54px;
  --toolbar-height: 34px;
  --panel-width-off: 0px;
  --panel-width-on: 330px;
  --font-family-default: Helvetica, Arial, sans-serif;
  --font-size-default: 11px;
  --backgroundColor-navbar: rgb(51, 51, 51); /* #050a30 */
  --backgroundColor-toolbar: rgb(240, 240, 240);
  --backgroundColor-selected: rgba(180, 222, 255, 0.45);
  --backgroundColor-selectedFocus: rgba(50, 102, 208, 1);
  --backgroundColor-slider: rgb(180, 180, 180);
  --backgroundColor-slider-value: #4caf50;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-default);
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: var(--font-size-default);
}

/*-----------------------------------------------------------------------------------
    ## GRID ##
-----------------------------------------------------------------------------------*/
.grid {
  display: grid;
  height: 100%;
  width: 100%;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 5px;
  padding: 5px;
  overflow: hidden;
}

.grid-border {
  border: 1px solid #ccc;
}

.grid-toolbar {
  display: grid;
  height: 34px;
  width: 100%;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 5px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  background-color: var(--backgroundColor-toolbar);
  z-index: 400;
}

/*-----------------------------------------------------------------------------------
    ## ELEMENTOS NATIVOS HTML: INPUT, BUTTON, TEXTAREA etc ##
-----------------------------------------------------------------------------------*/
input, button, select, textarea {
  font-family: var(--font-family-default);
  font-size: 11px;
  color: #000;
  border-radius: 0px;
  border: 1px solid #ccc;
}

input {
  padding-left: 5px;
  padding-right: 5px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  outline: none;
  transform: translateY(2px);
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #4caf50;
  transform: translateY(6px);
}

input[type=range]::-moz-range-thumb {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #4caf50;
  transform: translateY(6px);
}

input[type=range].disabled {
  opacity: 0.35;
  cursor: default;
}

button,
label.btn-input {
  align-self: center;
  text-align: center;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 25%;
  font-size: 12px;
  cursor: pointer;
}

button.btn-top-right {
  align-self: end;
  text-align: right;
  transform: translateY(3px);
}

button.disabled {
  opacity: 0.35;
  cursor: default;
}

button#toolbarPanelVisibilityBtn.btn-panel-on {
  background-image: url(../images/arrow-left.png);
}

button#toolbarPanelVisibilityBtn.btn-panel-off {
  background-image: url(../images/arrow-right.png);
}

label.label-panel,
label.label-text-list {
  font-size: 10px;
  align-self: end;
  text-transform: uppercase;
}

label.label-form-field {
  font-size: 11px;
  align-self: end;
}

img {
  -webkit-user-drag: none;
}

/*-----------------------------------------------------------------------------------
    ## LISTA DE TEXTOS ##
-----------------------------------------------------------------------------------*/
.text-list {
  height: 100%;
  overflow-y: auto;
  list-style: none;
  border: 1px solid #ccc;
}

.text-list.disabled {
  cursor: default;
  opacity: 0.35;
  pointer-events: none;
}

.text-list li {
  display: flex;
  align-items: center;
  text-align: justify;
  line-height: 16px;
  min-height: 22px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-bottom: 0;
}

.text-list li.selected {
  background-color: var(--backgroundColor-selected);
}

.text-list li.hover {
  background-color: var(--backgroundColor-selectedFocus);
  color: #fff;
}

.text-list li * {
  pointer-events: none;
}

/*-----------------------------------------------------------------------------------
    ## CAMPO DE TEXTO ##
-----------------------------------------------------------------------------------*/
.text-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  word-break: break-all;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  padding: 5px;
  text-align: justify;
  border: 1px solid #ccc;
}

/*-----------------------------------------------------------------------------------
    ## MENU DE CONTEXTO ##
-----------------------------------------------------------------------------------*/
.context-menu {
  position: absolute;
  display: flex;
  width: 250px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0px;
  border-top-left-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 800;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.context-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(15, 15, 15, 0.85);
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  pointer-events: none;
}

.context-menu-item {
  display: flex;
  align-items: center;
  height: 22px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.context-menu-item:hover {
  background-color: var(--backgroundColor-selectedFocus);
  color: #fff;
}

/*-----------------------------------------------------------------------------------
    ## COLORBAR ##
-----------------------------------------------------------------------------------*/
.colorbar {
  position: absolute;
  bottom: 66px;
  right: 0px;
  width: 100px;
  height: 500px;
  z-index: 800;
}

/*-----------------------------------------------------------------------------------
    ## SELECTOR POPUP (RADIO BUTTON GROUP) ##
-----------------------------------------------------------------------------------*/
.selector-popup {
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

/*-----------------------------------------------------------------------------------
    ## OUTRAS COISAS AINDA NÃO REVISADAS ##
-----------------------------------------------------------------------------------*/
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--backgroundColor-navbar);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 200;
}

#panel {
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  height: calc(100% - var(--navbar-height) - var(--toolbar-height));
  width: calc(var(--panel-width-on) - 10px);
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 0;
}

.panel-on {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.panel-off {
  opacity: 0;
  transform: translateX(calc(-1 * var(--panel-width-on)));
  pointer-events: none;
}

.panel-off ~ #document {
  left: 6px;
  width: calc(100% - 10px);
}

#document {
  position: absolute;
  top: calc(var(--navbar-height) + 6px);
  left: var(--panel-width-on);
  width: calc(100% - var(--panel-width-on) - 5px);
  height: calc(100% - var(--navbar-height) - var(--toolbar-height) - 11px);
  z-index: 600;
}/*# sourceMappingURL=webRotas.css.map */