:root {
    --navbar-height: 0px;
    --toolbar-height: 34px;

    --left-panel-width-off: 0px;
    --left-panel-width-on: 330px;
    --right-panel-width-off: 0px;
    --right-panel-width-on: 0px;
    
    --font-family-default: Helvetica, Arial, sans-serif;
    --font-size-default: 11px;
}

$z-indices: (
    left-panel: 0,
    right-panel: 0,
    panel-control-button: 10,
    navbar: 200,
    toolbar: 400,
    document: 600,
    context-menu: 800,
    tooltip: 800,
    modal: 1000
);

@mixin z-index($level) {
  z-index: map-get($z-indices, $level);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-default);
}

body {
    width: 100%;
    height: 100%;
    font-size: var(--font-size-default);
}

#left-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - var(--toolbar-height));
    width: calc(var(--left-panel-width-on) - 10px);
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: map-get($z-indices, 'left-panel');
}

.left-panel-on {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
  
.left-panel-off {
    opacity: 0;
    transform: translateX(calc(-1 * var(--left-panel-width-on)));
    pointer-events: none;
}

.left-panel-off ~ #document {
    left: 6px;
    width: calc(100% - 10px);
}

/* Estilos aplicados ao ID "document" */
#document {
    position: absolute;
    top: 6px;
    left: var(--left-panel-width-on);
    width: calc(100% - var(--left-panel-width-on) - 5px);
    height: calc(100% - var(--toolbar-height) - 11px);
    z-index: map-get($z-indices, 'document');
}

/* Estilos aplicados ao ID "toolbar" */
#toolbar {
    z-index: map-get($z-indices, 'toolbar');
}

/* Estilos complementares, aplicados a classes */
.grid {
    display: grid;
    height: 100%;
    column-gap: 10px;
    row-gap: 5px;
    padding: 5px;
    overflow: hidden;
}

.grid-border {
    border: 1px solid #ccc;
}

.title-label {
    align-self: end;
    font-size: 10px;
    color: #333;
    text-transform: uppercase;
}

.title-button {
    align-self: end;
    text-align: right;
    transform: translateY(3px);
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.sublabel {
    font-size: 11px;
    color: #333;
    align-self: end;
}

.text-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    overflow: auto;
    list-style: none;
    border: 1px solid #ccc;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, button, select, textarea {
    font-family: var(--font-family-default);
    font-size: 11px;    
    color: #000;
    border-radius: 0px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.35;    
  }

/*-----------------------------------------------------------------------------------
    PIN
-----------------------------------------------------------------------------------*/
.custom-map-marker {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.custom-map-polygon {
    cursor: default;
}